* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 200ms;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.excel-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.flex {
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
}

.formula-bar {
  display: flex;
  gap: 2px;
  background-color: #95959533;
  height: 30px;
}

.ribbon {
  background-color: #95959533;
  padding: 10px;
  height: 140px;

  .ribbon-container {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    display: flex;
    padding: 8px 0;
    box-sizing: border-box;

    .functions-container-wrapper {
      .functions-container {
        border-right: 1px solid #d8d8d8;
        display: flex;
        gap: 10px;
        padding: 10px 20px;

        button {
          border: 0;
          background: transparent;
          cursor: pointer;

          &:hover {
            scale: 1.04;
          }
          img {
            height: 50px;
            width: 50px;
            padding: 4px;
          }
        }
        .find-replace {
          background-color: white;
          border-radius: 5px;
          padding: 34px 28px;
          box-shadow: 1px 1px 7px #e7e7e7;
          position: fixed;
          top: 50%;
          left: 50%;
          z-index: 10;
          transform: translate(-50%, -50%);

          input {
            font-size: medium;
            display: block;
            padding: 8px;
            border: 1px solid;
            outline: none;
            margin-bottom: 10px;
          }
          .btn-container {
            font-size: medium;
            display: flex;
            gap: 10px;

            button {
              padding: 10px;
              // background: #03723c;
              // color: white;
              flex-grow: 1;
              border: 1px solid black;
            }
          }
        }
      }
      .container-label {
        text-align: center;
        font-size: small;
        color: #959595;
      }
    }
  }
}

.menus {
  height: 40px;
  background-color: #95959533;
  display: flex;
  padding: 0 10px;
}

.menus a {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  color: #474747;
  font-family: Arial, Helvetica, sans-serif;

  &.active {
    font-weight: bold;
    border-bottom: 2px solid #03723c;
  }
}

.statistics {
  color: #474747;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;

  .stats-target {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
  }
}
