// Colors
$xs: 400px;
$sm: 1000px;
$md: 1500px;

$primary: #1F7A54;
$secondary: #3FD28B;
$tabs: #8DDC97;
$border: #3AC7EC;
$shadow: 0px 3px 5px #0000003D;
$shadow-lg: 0px 13px 20px #0000003D;
$background: #EEEEEE;
$font-color: #333333;
$caption-color: #666666;
$footer: #00000029;
$footer-font: #616161;
$bg-red: #FFE4E6;
$red: #D80000;
$gold: #EDC900;
$badge: #2A7FF3;
$nav: #25313F;
$alert-content: #222222;
$alert-date: #6E6E6E;
$alert-unseen: #FFFFEE;

@mixin badge {
    color: white;
    font-size: 10px;
    height: 14px;
    width: 14px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-color: $badge;
}

@mixin pointer {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    z-index: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: quantum;
    transition-duration: 200ms;
    outline: none;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    @media (max-width: $sm) {
        padding: 0 6px;
    }

    display: flex;
    // mix-blend-mode: overlay;
    // opacity: 0.8;
    // background: transparent url('../assets/header pattern image.png') 0% 0% no-repeat padding-box;
    background-color: $nav;
    padding: 0 24px;
    box-sizing: border-box;
    z-index: 100;

    &.border-blue {
        border-bottom: 2px solid $border;
    }

    img {
        padding: 8px;

        &:hover {
            scale: 1.05;
        }
    }

    .links {

        display: flex;
        margin-left: auto;

        a {
            align-content: center;
            text-decoration: none;
            font-size: 14px;
            color: $secondary;
            padding: 0 12px;
            border: 4px solid transparent;

            &.active {
                color: white;
                border-bottom: 4px solid white;
            }

            &:hover {
                color: white;
                border-bottom: 4px solid white;
            }
        }

        ;

        @media (max-width: $sm) {
            animation: fade-in 0.2s linear 1;
            position: absolute;
            width: 250px;
            z-index: 10;
            right: 10px;
            top: 54px;
            flex-direction: column;
            box-shadow: $shadow-lg;
            background-color: white;


            &.hidden {
                display: none;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px;
                border: 0;
                color: $primary;
                font-weight: 600;

                &.active {
                    background-color: $background;
                    color: $primary;
                    border: 0;
                }

                &:hover {
                    background-color: $background;
                    color: $primary;
                    border: 0;
                }
            }
        }
    }

    .icons {

        display: flex;

        .icon {
            padding: 0 6px;
            position: relative;
            align-content: center;

            &:hover img:not(.avatar-img) {
                filter: grayscale(100%) brightness(200%);
            }

            img {
                height: 24px;
            }

            .badge {
                position: absolute;
                top: 10px;
                right: 6px;
                @include badge
            }

            &.hamburger {
                @media screen and (min-width: $sm) {
                    display: none;
                }

                &:hover nav .links {
                    display: block;
                }
            }

            &:hover .badge {
                scale: 1.2;
            }

            &:hover .alerts {
                display: flex;
            }

            .alerts {
                display: none;
                flex-direction: column;
                position: absolute;
                animation: fade-in 0.5s linear 1;
                box-shadow: $shadow;
                margin-top: 6px;
                right: 0;
                width: 20rem;
                height: 28rem;
                z-index: 10;


                &::before {
                    @include pointer;
                    right: 16px;
                    top: -20px;
                }

                @media (max-width: $sm) {
                    right: -200%;

                    &::before {
                        display: none;
                        left: 0%;
                    }
                }

                .alerts-content {
                    overflow-y: scroll;
                    flex-grow: 1;

                    .alert {
                        padding: 12px;
                        border-bottom: 1px solid #d6d6d6;
                        cursor: default;
                        background-color: white;

                        &.unseen {
                            background-color: $alert-unseen;
                            font-weight: 600;
                            cursor: pointer;
                        }

                        .alert-content {
                            color: $alert-content;
                            padding-right: 1rem;
                            padding-bottom: 10px;
                        }

                        .datetime {
                            color: $alert-date;
                            font-size: 12px;
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: space-between;
                        }
                    }
                }


                .bulk-action-btns {
                    width: 100%;
                    display: flex;
                    position: sticky;
                    bottom: 0;

                    .action-btn {
                        flex-grow: 1;
                        padding: 10px;
                        color: $primary;
                        // box-shadow: $shadow;
                        border: 1px solid #e2e2e2;
                        box-sizing: border-box;
                        background-color: white;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }

            .announcements {
                @extend .alerts;

                .username {
                    font-size: 12px;
                    margin-bottom: 4px;
                    color: $caption-color;
                }
            }

        }

        @media (max-width: $sm) {
            margin-left: auto;
        }

        @media (max-width: $xs) {

            .icon {
                padding: 0 2px;
            }
        }

        .avatar {
            @extend .icon;

            img {
                padding: 0;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid $secondary;
            }

            .badge {
                background-color: white;
                top: 6px;
                right: 4px;
                color: black;
            }
        }
    }
}

main {
    flex-grow: 1;
    background-color: $background;

    &.login {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .container {
            margin-top: 4rem;
            width: 100%;
            max-width: 500px;
            padding: 32px;
            font-weight: 600;
            border-radius: 5px;
            background-color: white;
            border-top: 4px solid $border;

            .header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                h2 {
                    text-align: center;
                    flex-grow: 1;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                .back-icon {
                    color: green;
                }
            }

            .input-container {
                padding: 24px 0;

                .input-check {
                    display: inline-flex;
                    gap: 6px;
                    align-items: center;
                    margin-right: 20px;
                    font-size: large;

                    span {
                        padding: 4px;
                        font-weight: 600;
                    }

                    input[type="radio"] {
                        padding: 8px;
                        accent-color: green;
                        width: 20px;
                        height: 20px;
                    }

                    input[type="checkbox"] {
                        padding: 8px;
                        accent-color: green;
                        width: 20px;
                        height: 20px;
                    }
                }

                input[type="text"]:not(.input-pwd-wrapper input) {
                    padding: 4px;
                    border: 0;
                    font-size: large;
                    border-bottom: 1px solid #d1cdcd;
                    width: 100%;
                    outline: none;
                }

                select {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 100%;

                    outline: none;
                    width: 100%;
                    border: 0;
                    font-weight: 600;
                    font-family: quantum;
                    /* color: #616161; */
                    font-size: large;
                    border-bottom: 1px solid #d1cdcd;
                }

                .input-pwd-wrapper {
                    display: flex;
                    align-items: center;
                    border: 0;
                    border-bottom: 1px solid #d1cdcd;
                    width: 100%;
                    outline: none;

                    input {
                        outline: none;
                        border: 0;
                        width: 100%;
                        font-size: large;
                        padding: 4px;
                    }
                }

                .helper-text {
                    font-size: small;
                    color: green;
                    font-weight: 600;
                    margin-top: 6px;
                    float: right;
                }

                .mini-label {
                    color: #959595;
                    font-size: 12px;
                    margin-bottom: 4px;
                }
            }

            .remember-container {
                margin: 10px 0;
                display: flex;
                gap: 6px;
                align-items: center;
                font-weight: 600;

                input[type="checkbox"] {
                    padding: 8px;
                    accent-color: green;
                    width: 16px;
                    height: 16px;
                }
            }

            .btn-container {
                text-align: center;
                margin-top: 30px;

                .btn-login {
                    transition-duration: 200ms;
                    background-color: #3fd28b;
                    box-shadow: $shadow;
                    color: #000000;
                    padding: 10px 80px;
                    font-size: 16px;
                    font-family: quantum;
                    font-weight: 600;
                    border: 0;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #18a561;
                    }
                }
            }

            .fa {
                color: green;

                &.disabled {
                    color: rgba(56, 161, 56, 0.568);

                }
            }

        }
    }

    .container {
        flex-grow: 1;
        background-color: #eeeeee;
        padding: 30px;

        .tabs {
            background-color: #8ddc97;
            display: flex;
            border-radius: 4px;

            .tab {
                flex-grow: 1;
                padding: 20px;
                text-align: center;
                font-size: large;

                &.active {
                    border-bottom: 4px solid black;
                }

                span {
                    font-size: larger;
                    font-weight: bold;
                }

                i {
                    color: black;
                }
            }
        }

        .course-options {
            padding: 18px 0;
            margin: 10px 0;
            border-bottom: 1px solid #d1cdcd;
            display: flex;
            justify-content: space-between;

            .sortby {
                display: flex;
                align-items: center;
                gap: 10px;
                white-space: nowrap;
                min-width: 200px;

                select {
                    background-color: $background;
                    font-size: medium;
                }
            }

            .text-muted {
                color: $footer-font;
                font-size: small;
            }

            .sortby {
                display: flex;
                align-items: center;
                gap: 10px;
                white-space: nowrap;
                min-width: 200px;

                select {
                    background-color: #eeeeee;
                    font-size: medium;
                }
            }
        }

        .grid {
            padding: 30px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;
            justify-content: center;

            @media screen and (max-width: 1000px) {
                grid-template-columns: auto;
                justify-content: center;
                padding: 24px 0;
            }

            @media screen and (min-width: 1500px) {
                grid-template-columns: auto auto auto;
            }

            .course-card {
                padding: 30px 30px 0 30px;
                background-color: white;
                border-radius: 4px;
                max-width: 550px;
                position: relative;
                display: flex;
                flex-direction: column;
                font-weight: 600;

                .expired {
                    background-color: rgba(255, 167, 167, 0.397);
                    color: red;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 2px 4px;
                    font-size: 10px;
                }

                .course-details {
                    display: flex;
                    flex-grow: 1;
                    padding-bottom: 18px;
                    border-bottom: 1px solid #d1cdcd;

                    img {
                        height: 150px;
                        width: 130px;
                        border-radius: 4px;
                    }

                    .grow {
                        padding: 0 20px;
                        flex-grow: 1;

                        .title {
                            font-size: large;
                        }

                        .subject-grade {
                            font-size: small;
                            margin: 10px 0;
                            color: #616161;
                        }
                    }
                }

                .action-buttons {
                    display: flex;
                    justify-content: space-between;
                    padding: 12px;
                    background-color: white;

                }

                .fa.fa-star {
                    color: $gold;
                    position: absolute;
                    right: 10px;

                    &.disabled {
                        color: rgba(192, 192, 192, 0.356);
                    }
                }

            }
        }

    }

    select {
        outline: none;
        width: 100%;
        border: 0;
        font-family: quantum;
        font-weight: 600;
        /* color: #616161; */
        font-size: large;
        border-bottom: 1px solid #d1cdcd;
    }
}

section {
    text-align: center;
    padding: 14px;
    background-color: #eeeeee;



    a {
        display: inline-block;
        text-decoration: none;
        padding: 0 10px;
        color: green;

        &:not(:first-child) {
            border-left: 1px solid #cccccc;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $footer;
    padding: 8px;


    img {
        height: 24px;
        padding: 2px 16px;
        border-right: 1px solid #b8b8b8;
    }

    @media screen and (max-width: 550px) {
        padding: 0;

        img {
            height: 30px;
        }
    }

    div {
        font-size: 12px;
        padding: 2px 16px;
        color: $footer-font;

        @media screen and (max-width: 550px) {
            display: flex;
            flex-direction: column;

        }
    }
}

@font-face {
    font-family: quantum;
    src: url("../assets/font/static/Quicksand-Regular.ttf");
}

@font-face {
    font-family: quantum;
    src: url("../assets/font/static/Quicksand-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: quantum;
    src: url("../assets/font/static/Quicksand-Bold.ttf");
    font-weight: bold;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}