* {
  margin: 0;
  padding: 0;
  font-family: quantum;
  transition-duration: 200ms;
  outline: none;
  border: 0;
}

nav {
  display: flex;
  mix-blend-mode: overlay;
  background-color: #25313F;
  padding: 0 24px;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 6px;
  }
}
nav.border-blue {
  border-bottom: 2px solid #3AC7EC;
}
nav img {
  padding: 8px;
}
nav img:hover {
  scale: 1.05;
}
nav .links {
  display: flex;
  margin-left: auto;
}
nav .links a {
  align-content: center;
  text-decoration: none;
  font-size: 14px;
  color: #3FD28B;
  padding: 0 12px;
  border: 4px solid transparent;
}
nav .links a.active, nav .links a:hover {
  color: white;
  border-bottom: 4px solid white;
}
@media (max-width: 1000px) {
  nav .links {
    animation: fade-in 0.2s linear 1;
    position: absolute;
    width: 250px;
    z-index: 10;
    right: 10px;
    top: 54px;
    flex-direction: column;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  }
  nav .links.hidden {
    display: none;
  }
  nav .links a {
    padding: 12px;
    border: 0;
    background-color: white;
    color: #1F7A54;
    font-weight: 600;
  }
  nav .links a.active, nav .links a:hover {
    background-color: #EEEEEE;
    color: #1F7A54;
    border: 0;
  }
}
nav .icons {
  display: flex;
}
nav .icons .icon, nav .icons .avatar {
  padding: 0 6px;
  position: relative;
  align-content: center;
}
nav .icons .icon:hover img:not(.avatar-img), nav .icons .avatar:hover img:not(.avatar-img) {
  filter: grayscale(100%) brightness(200%);
}
nav .icons .icon img, nav .icons .avatar img {
  height: 24px;
}
nav .icons .icon .badge, nav .icons .avatar .badge {
  position: absolute;
  top: 10px;
  right: 6px;
  color: white;
  font-size: 10px;
  height: 14px;
  width: 14px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  background-color: #2A7FF3;
}
@media screen and (min-width: 1000px) {
  nav .icons .icon.hamburger, nav .icons .hamburger.avatar {
    display: none;
  }
}
nav .icons .icon.hamburger:hover nav .links, nav .icons .hamburger.avatar:hover nav .links {
  display: block;
}
nav .icons .icon:hover .badge, nav .icons .avatar:hover .badge {
  scale: 1.2;
}
nav .icons .icon:hover .alerts, nav .icons .avatar:hover .alerts, nav .icons .icon:hover .announcements, nav .icons .avatar:hover .announcements {
  display: flex;
}
nav .icons .icon .alerts, nav .icons .avatar .alerts, nav .icons .icon .announcements, nav .icons .avatar .announcements {
  display: none;
  flex-direction: column;
  position: absolute;
  animation: fade-in 0.5s linear 1;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  margin-top: 6px;
  right: 0;
  width: 20rem;
  height: 28rem;
  z-index: 10;
}
nav .icons .icon .alerts::before, nav .icons .avatar .alerts::before, nav .icons .icon .announcements::before, nav .icons .avatar .announcements::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
  z-index: inherit;
  right: 16px;
  top: -20px;
}
@media (max-width: 1000px) {
  nav .icons .icon .alerts, nav .icons .avatar .alerts, nav .icons .icon .announcements, nav .icons .avatar .announcements {
    right: -200%;
  }
  nav .icons .icon .alerts::before, nav .icons .avatar .alerts::before, nav .icons .icon .announcements::before, nav .icons .avatar .announcements::before {
    display: none;
    left: 0%;
  }
}
nav .icons .icon .alerts .alerts-content, nav .icons .avatar .alerts .alerts-content, nav .icons .icon .announcements .alerts-content, nav .icons .avatar .announcements .alerts-content {
  overflow-y: scroll;
  flex-grow: 1;
}
nav .icons .icon .alerts .alerts-content .alert, nav .icons .avatar .alerts .alerts-content .alert, nav .icons .icon .announcements .alerts-content .alert, nav .icons .avatar .announcements .alerts-content .alert {
  padding: 12px;
  border-bottom: 1px solid #d6d6d6;
  cursor: default;
}
nav .icons .icon .alerts .alerts-content .alert.unseen, nav .icons .avatar .alerts .alerts-content .alert.unseen, nav .icons .icon .announcements .alerts-content .alert.unseen, nav .icons .avatar .announcements .alerts-content .alert.unseen {
  background-color: #FFFFEE;
  font-weight: 600;
  cursor: pointer;
}
nav .icons .icon .alerts .alerts-content .alert .alert-content, nav .icons .avatar .alerts .alerts-content .alert .alert-content, nav .icons .icon .announcements .alerts-content .alert .alert-content, nav .icons .avatar .announcements .alerts-content .alert .alert-content {
  color: #222222;
  padding-right: 1rem;
  padding-bottom: 10px;
}
nav .icons .icon .alerts .alerts-content .alert .datetime, nav .icons .avatar .alerts .alerts-content .alert .datetime, nav .icons .icon .announcements .alerts-content .alert .datetime, nav .icons .avatar .announcements .alerts-content .alert .datetime {
  color: #6E6E6E;
  font-size: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
nav .icons .icon .alerts .bulk-action-btns, nav .icons .avatar .alerts .bulk-action-btns, nav .icons .icon .announcements .bulk-action-btns, nav .icons .avatar .announcements .bulk-action-btns {
  width: 100%;
  display: flex;
  position: sticky;
  bottom: 0;
}
nav .icons .icon .alerts .bulk-action-btns .action-btn, nav .icons .avatar .alerts .bulk-action-btns .action-btn, nav .icons .icon .announcements .bulk-action-btns .action-btn, nav .icons .avatar .announcements .bulk-action-btns .action-btn {
  flex-grow: 1;
  padding: 10px;
  color: #1F7A54;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}
nav .icons .icon .announcements .username, nav .icons .avatar .announcements .username {
  font-size: 12px;
  margin-bottom: 4px;
  color: #666666;
}
@media (max-width: 1000px) {
  nav .icons {
    margin-left: auto;
  }
}
@media (max-width: 400px) {
  nav .icons .icon, nav .icons .avatar {
    padding: 0 2px;
  }
}
nav .icons .avatar img {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #3FD28B;
}
nav .icons .avatar .badge {
  background-color: white;
  top: 6px;
  right: 4px;
  color: black;
}

@font-face {
  font-family: quantum;
  src: url("../assets/font/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: quantum;
  src: url("../assets/font/static/Quicksand-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: quantum;
  src: url("../assets/font/static/Quicksand-Bold.ttf");
  font-weight: bold;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */